{% extends 'password/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
     <div class="card" style="border: none; margin-bottom: 20px">

                <div class="row">
                <div class="col-2"></div>
           <button id="cat_btn" class="col-3 btn btn-primary btn-sm">Добавить категорию</button>
                     <div class="col"></div>
           <button id="elem_btn" class="col-3 btn btn-primary btn-sm">Добавить элемент</button>
                  <div class="col-2"></div>
                    </div>

     </div>
        <h3 style="text-align: center" >Категория: <label id="cat_name">Родитель</label>
            <label id="cat_id" style="display:none">0</label> </h3>
    <div class="card"  id="block_cat">
        <div style="padding-left: 40px; padding-right: 40px; position: center">
            <form method="post" enctype="multipart/form-data" id="category_form">
                {% csrf_token %}
                <div class="errors">{{ form.non_field_errors }}</div>
                <div class="mb-3">
                    <label for="{{ form.name_category.id_for_label }}" class="form-label">{{ form.name_category.label }}</label>
                    {{ form.name_category }}
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-3"></div>
                    <button id="submit_btn" class="col-6 btn btn-success btn-sm">Принять</button>
                    <div class="col-3"></div>
                </div>
            </form>
        </div>
    </div>

     <div class="card" style="padding: 10px; display: none" id="block_elem">
         <form id="create_elem_form">
             {% csrf_token %}
             <div class="errors">{{ add_ell_form.non_field_errors }}</div>
             <div class="row md-3">
                  <div class="col-6">
                 <label for="{{ add_ell_form.login.id_for_label }}" class="form-label">{{ add_ell_form.login.label }}</label>
             {{ add_ell_form.login }}
             </div>
                  <div class="col-6">
                 <label for="{{ add_ell_form.password.id_for_label }}" class="form-label">
                     {{ add_ell_form.password.label }}
                 </label>
             {{ add_ell_form.password }}
             </div>
             </div>
             <div class="mb-3">
                    <label for="{{ add_ell_form.description.id_for_label }}" class="form-label">{{ add_ell_form.description.label }}</label>
                    {{ add_ell_form.description }}
                </div>
         </form>
    <div class="row" style="margin-bottom: 10px">
                    <div class="col-3"></div>
                    <button id="submit_btn_for_ell" class="col-6 btn btn-success btn-sm">Принять</button>
                    <div class="col-3"></div>
                </div>
    </div>
    </div>

    <script>
        $(document).ready(function(){
            document.oncontextmenu = function() {return false;};
            clickElem()
            context.attach('#tree', contextMenu);
        });

        $('#category_form').submit(function (e){
            e.preventDefault()
            let postData = $('#category_form').serializeArray()
            if ($('#cat_id').text() !== '0'){
                postData.push({'name': 'parent_id', 'value': $('#cat_id').text()})
            }
            if ($('#cat_id').text() !== ''){
                $.post({% url 'edit_reestr' %}, postData, function(data){
                    $('#category_form')[0].reset()
                    if (data.tree.cats !== undefined ){
                       $.toast({
                        heading: 'Сообщение!',
                        text: data.msg,
                        icon: 'info',
                        position: 'mid-center',
                        stack: false
                    })
                    updateTree(data)
                    clickElem()
                    context.attach('#tree', contextMenu);
                    } else {
                         $.toast({
                    heading: 'Внимение!',
                    text: data.msg,
                    showHideTransition: 'plain',
                    icon: 'warning',
                    position: 'mid-center',
                    stack: false
                })
                    }
                });
            } else {
                $.toast({
                    heading: 'Внимение!',
                    text: 'Выберите категорию!',
                    showHideTransition: 'plain',
                    icon: 'warning',
                    position: 'mid-center',
                    stack: false
                })
            }
        })
        check_edit_cat()
        check_edit_elem()

        $('#submit_btn_for_ell').on('click', function (){
            let data = $('#create_elem_form').serializeArray()
              if ($('#cat_id').text() !== '0'){
                data.push({'name': 'parent_id', 'value': $('#cat_id').text()})
                  $.post({% url 'edit_reestr' %}, data, function(data){
                       $.toast({
                    heading: 'Сообщение!',
                    text: data.msg,
                    showHideTransition: 'plain',
                     icon: 'info',
                    position: 'mid-center',
                    stack: false
                })
                      $('#create_elem_form')[0].reset()
                  })
            } else {
                    $.toast({
                    heading: 'Внимение!',
                    text: 'Выберите категорию!',
                    showHideTransition: 'plain',
                    icon: 'warning',
                    position: 'mid-center',
                    stack: false
                })
              }
        })

    </script>
{% endblock %}
