{% extends 'password/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
     <div class="card" style="border: none; margin-bottom: 20px" >
            <form>
                <div class="row">
                <div class="col-2"></div>
           <button id="cat_btn" class="col-3 btn btn-primary btn-sm">Добавить категорию</button>
                     <div class="col"></div>
           <button id="elem_btn" class="col-3 btn btn-primary btn-sm">Добавить элемент</button>
                  <div class="col-2"></div>
                    </div>
            </form>
     </div>
    <div class="card"  >
        <h1 style="text-align: center" >Категория: <label id="cat_name">Родитель</label>
            <label id="cat_id" style="display:none">0</label> </h1>
        <div style="padding-left: 40px; padding-right: 40px; position: center">
            <form method="post" enctype="multipart/form-data" id="category_form">
                {% csrf_token %}
                <div class="errors">{{ form.non_field_errors }}</div>
                <div class="mb-3">
                    <label for="{{ form.name_category.id_for_label }}" class="form-label">{{ form.name_category.label }}</label>
                    {{ form.name_category }}
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-3"></div>
                    <button id="submit_btn" class="col-6 btn btn-success btn-sm">Принять</button>
                    <div class="col-3"></div>
                </div>
            </form>
        </div>
    </div>
     <div class="card">
         <form method="post">
             {{ add_ell_form }}
         </form>

    </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static 'password/js/bstreeview.min.js' %}" ></script>
    <script src="{% static 'password/js/jquery.toast.min.js' %}"></script>
    <script>

        $(document).ready(function(){
            document.oncontextmenu = function() {return false;};

            clickElem()
        });

        $('#category_form').submit(function (e){
            e.preventDefault()
            let postData = $('#category_form').serializeArray()
            if ($('#cat_id').text() !== '0'){
                postData.push({'name': 'parent_id', 'value': $('#cat_id').text()})
            }
            if ($('#cat_id').text() !== ''){
                $.post({% url 'edit_reestr' %}, postData, function(data){
                    if (data.tree.cats !== undefined ){
                       $.toast({
                        heading: 'Внимание!',
                        text: data.msg,
                        icon: 'info',
                        position: 'mid-center',
                        stack: false
                    })
                    updateTree(data)
                    clickElem()
                    context.attach('#tree', contextMenu);
                    } else {
                         $.toast({
                    heading: 'Внимение!',
                    text: data.msg,
                    showHideTransition: 'plain',
                    icon: 'warning',
                    position: 'mid-center',
                    stack: false
                })
                    }



                });
            } else {
                $.toast({
                    heading: 'Внимение!',
                    text: 'Выберите категорию!',
                    showHideTransition: 'plain',
                    icon: 'warning',
                    position: 'mid-center',
                    stack: false
                })
            }
        })
        let test = null
        let updateTree = (data) => {
            $('#tree').empty()
            $('#treeUpdate').html('<div id="tree"/>')
            $('#tree').bstreeview({
                data: data.tree.cats
            });
        }
        let contextMenu = {
            id: 'CONTEXT-MENU',
            data: [
                {header: 'Меню'},
                {
                    icon: 'glyphicon-plus',
                    text: 'Удалить категорию',
                    action: function(e, selector) { deleteCategory(test) }
                },
            ]
        }

        let deleteCategory = (pk) => {

            let arr  = $('#category_form').serializeArray()
            arr.pop()
               $.ajax({
                url: '/delete_category/'+ pk,
                type: 'post',
                dataType: "json",
                data: arr,
                success: (result) => {
                    updateTree(result)
                    clickElem()
                    context.attach('#tree', contextMenu);
                    $.toast({ heading: 'Внимание!',  text: result.msg,  icon: 'info',  position: 'mid-center',  stack: false })
                }
            });


        }

        let clickElem = () => {
            $('#tree').mousedown(function(e){
                if( e.button === 2 ) {
                    $('#liveToast').toggle("slow" )

                    test = e.target.id
                    return false
                } else if (e.button === 0)
                {
                    let cat_id = e.target.id
                    $('#cat_name').html(e.target.textContent)
                    $('#cat_id').html(cat_id)
                    return false;
                }
                return true;
            });
        }
        {#clickElem()#}

    </script>
{% endblock %}
