{% extends 'password/base.html' %}

{% block content %}
<h3>Создание ключа для шифрования данных</h3>
    <div class="card" style="padding: 30px; margin-top: 20px">
    <form method="post" action="{% url 'upload_user_key_file' %}" enctype="multipart/form-data">
        <div class="row">
            {% csrf_token %}
            <div class="mb-3">
  {{ form_file.as_p }}
               <button type="submit" class="btn btn-sm btn-success">Сохранить</button>
</div>
        </div>

    </form>

    <form method="post" id="form_key_pass">
    {% csrf_token %}
    {{ form.as_p }}
    </form>
     <button type="button" id="key_pass_btn" class="btn btn-sm btn-success" >Применить</button>
        {% if msg.key_id != '' %}
<form method="post" action="{% url 'delete_user_key' msg.key_id %}">
    {% csrf_token %}
    <button id="btn_delete_key" class="btn btn-sm btn-danger" style="margin-top: 10px">Удалить</button>
</form>
    {% endif %}
    </div>
    <div id="msg_check_key" style="text-align: center; color: #BB5715; margin-top: 15px">
     <h5>
    {{ msg.msg }}
    </h5>
    </div>

    <script lang="js">
        {% autoescape off %}
            let msg = {{ msg.key_id }}
        {% endautoescape %}
    const enc = new Encryption(msg)


    $('#key_pass_btn').on('click', function () {
         if ($("[name='password']").val() !== '') {
                     ajaxRequest($('#form_key_pass').serialize(), '/setting_pass/encryption/', enc.postKeyPass)
         } else {
              $.toast({ heading: 'Ошибка!', text: 'Напишите фразу-пароль!',  icon: 'error',
                           position: 'mid-center',  stack: false })
         }
    })
    </script>


{% endblock %}