{% extends 'password/base.html' %}

{% block content %}
    <h3>Элементы в категории</h3>
<table class="table table-dark table-striped">
    <thead>
    <tr>
      <th scope="col">Логин</th>
      <th scope="col">Пароль</th>
      <th scope="col">Описание</th>
    </tr>
  </thead>
 <tbody class="table-secondary" id="elems">
 {% if pass_table|length > 0 %}
 {% for i in pass_table %}
    <tr >
      <td id={{ i.pk }}>{{ i.login }}</td>
      <td id={{ i.pk }}>{{  i.password }}</td>
      <td id={{ i.pk }}>{{ i.description }}</td>
    </tr>
 {% endfor %}
 {% else %}
     <tr>
      <td colspan="3">У категории нет элементов!</td>

    </tr>
 {% endif %}
  </tbody>
</table>
    <br>
      <h3>Расшифровка и редактирование</h3>
 <div class="card" style="padding: 10px">
      <form id="create_elem">
             {% csrf_token %}
             <div class="errors">{{ form.non_field_errors }}</div>
             <div class="row md-3">
                  <div class="col-6">
                 <label for="{{ form.login.id_for_label }}" class="form-label">{{ form.login.label }}</label>
             {{ form.login }}
             </div>
                  <div class="col-6">
                 <label for="{{ form.password.id_for_label }}" class="form-label">
                     {{ form.password.label }}
                 </label>
             {{ form.password }}
             </div>
             </div>
             <div class="mb-3">
                    <label for="{{ form.description.id_for_label }}" class="form-label">{{ form.description.label }}</label>
                    {{ form.description }}
                </div>
         </form>
 </div>

<script lang="js">
    let elemId = null
     getIdElem()
  let contextMenuForElem = {
            id: 'CONTEXT-MENU',
            data: [
                {header: 'Действия над элементом'},
                    {
                    icon: 'glyphicon-plus',
                    text: 'Расшифровать',
                    action: function(e, selector) { console.log(elemId) }
                },
                {
                    icon: 'glyphicon-plus',
                    text: 'Удалить эелемент',
                    action: function(e, selector) {console.log(elemId) }
                }

            ]
        }
        context.attach('#elems', contextMenuForElem);

  getElems()

</script>

{% endblock %}
